<a href="https://colab.research.google.com/github/rajasafi/Duplicate-question-pair/blob/main/Duplicate_question_pair_using_only_BOW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Here we are going to use different model to see who is giving Best Accuracy

> without doing preprocess

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data= pd.read_csv('/content/train.csv')

In [3]:
data.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [4]:
new_data=data.sample(30000)

In [5]:
new_data.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [6]:
new_data.duplicated().sum()

0

In [7]:
ques_data=new_data[['question1','question2']]

In [8]:
ques_data.head()

,question1,question2
240888,Where can I get funding for my idea?,How do I get funding for my startup idea befor...
376864,What is the actual mass of oxygen atom (not gr...,What is the mass of one Carbon 12 atom in grams?
285908,I am buying a surface pro 4. What is better th...,Why did Microsoft choose core m3 and not core ...
121655,How do I create my own font?,How can I create my own font for Photoshop?
166897,Do I need to watch previous Star Wars films to...,Star Wars: The Force Awakens (2015 movie): Who...

Now we will convert the data in vector form



> Then we will mergethe question1 and question2 into one list


> After that we will use different model to see who is giving Best Accuracy

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
questions= list(ques_data['question1'])+list(ques_data['question2'])

cv=CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

After splitting the total sampe question into two parts we will now make a dataframe to store the splitted data

In [10]:
temp_dt1=pd.DataFrame(q1_arr, index=ques_data.index)
temp_dt2=pd.DataFrame(q2_arr, index=ques_data.index)
temp_dt=pd.concat([temp_dt1,temp_dt2],axis=1)
temp_dt.shape

(30000, 6000)

In [11]:
temp_dt['is_duplicate']= new_data['is_duplicate']

In [12]:
temp_dt.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
240888,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
376864,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
285908,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
121655,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
166897,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

If we want to see the feature of question1 and question2 after doing BOW

In [13]:
temp_dt

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
240888,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
376864,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
285908,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
121655,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
166897,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206577,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
154571,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
192120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
210667,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
128312,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

#  Here we are going to use different model to see who is giving Best Accuracy

> Random Forest Classifier


> XGB boost Classifier

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(temp_dt.iloc[:,0:-1].values,temp_dt.iloc[:,-1].values,test_size=0.2,random_state=1)

In [15]:
from  sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf=RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7508333333333334

In [16]:
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(X_train,y_train)
y_pred=xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.7323333333333333